.active-link::after,
.inactive-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 1px;
  background: #fff;
  transition: right 0.3s ease;
}
.inactive-link:hover::after {
  right: 0;
}

.active-link::after {
  right: 0;
}

.link div.sub-menu {
  display: none;
}

.link:hover div.sub-menu {
  display: block;
}

.nav-group-tablet input[name="movie"]:checked + label .arrow-icon,
.nav-group-tablet input[name="tv-series"]:checked + label .arrow-icon {
  rotate: 180deg;
}

.nav-group-tablet input[name="movie"] ~ .nav-menu,
.nav-group-tablet input[name="tv-series"] ~ .nav-menu {
  display: none;
}

.nav-group-tablet input[name="movie"]:checked ~ .nav-menu,
.nav-group-tablet input[name="tv-series"]:checked ~ .nav-menu {
  display: block;
}
